.env
.venv/
__pycache__/
node_modules/
dist/
.aws/
*.logs

# Large local datasets
data/raw/
data/chicago_scooter_july2024_full.csv
# Large local datasets
data/raw/
data/chicago_scooter_july2024_full.csv
